@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", serif;
}

.cursor-not-allowed {
    cursor: not-allowed;
  }
  
  .cursor-auto {
    cursor: auto;
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  